# PROYECTO ETL

---

In [7]:
import requests as requests  # alias es cosa mia
import pandas as pd
import json

----

## API pruebas

In [31]:
'''

url = "https://airbnb19.p.rapidapi.com/api/v1/searchProperty"

querystring = {"category":"TAB_8225","totalRecords":"10","currency":"EUR","adults":"1"}

headers = {
	"X-RapidAPI-Key": "eaf5c1a7b2msh5ef97768e954998p145805jsnae2538379312",
	"X-RapidAPI-Host": "airbnb19.p.rapidapi.com"
}

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text) '''

'\n\nurl = "https://airbnb19.p.rapidapi.com/api/v1/searchProperty"\n\nquerystring = {"category":"TAB_8225","totalRecords":"10","currency":"EUR","adults":"1"}\n\nheaders = {\n\t"X-RapidAPI-Key": "eaf5c1a7b2msh5ef97768e954998p145805jsnae2538379312",\n\t"X-RapidAPI-Host": "airbnb19.p.rapidapi.com"\n}\n\nresponse = requests.request("GET", url, headers=headers, params=querystring)\n\nprint(response.text) '

In [32]:
'''pd.DataFrame(response)'''

'pd.DataFrame(response)'

In [33]:
'''
url = "https://airbnb19.p.rapidapi.com/api/v1/searchDestination"

querystring = {"query":"Palma de Mallorca","country":"Spain"}

headers = {
	"X-RapidAPI-Key": "eaf5c1a7b2msh5ef97768e954998p145805jsnae2538379312",
	"X-RapidAPI-Host": "airbnb19.p.rapidapi.com"
}

response_places = requests.request("GET", url, headers=headers, params=querystring)

print(response_places.text)  '''

'\nurl = "https://airbnb19.p.rapidapi.com/api/v1/searchDestination"\n\nquerystring = {"query":"Palma de Mallorca","country":"Spain"}\n\nheaders = {\n\t"X-RapidAPI-Key": "eaf5c1a7b2msh5ef97768e954998p145805jsnae2538379312",\n\t"X-RapidAPI-Host": "airbnb19.p.rapidapi.com"\n}\n\nresponse_places = requests.request("GET", url, headers=headers, params=querystring)\n\nprint(response_places.text)  '

In [34]:
''' response_places.json().keys()


res_iss.json() '''

' response_places.json().keys()\n\n\nres_iss.json() '

In [35]:
''' response.json().keys()'''

' response.json().keys()'

In [36]:
## %pip install geojson

-----

## INSIDE AIRBN&B web

----

### GEO data de los Municipios

-----

--- he abierto un doc para ver la geo localizacion de los municipios -investigacion del doc-

In [37]:
data = pd.read_json('../w4-ETL-Project/docs/neighbourhoods.geojson')

In [38]:
 '''geo=pd.json_normalize(data.features, max_level=None)
 
geo.head() '''

'geo=pd.json_normalize(data.features, max_level=None)\n\ngeo.head() '

In [39]:
''' geo.to_csv(r'../w4-ETL-Project/data/geo_coordinates_neigbour', index = False) '''

" geo.to_csv(r'../w4-ETL-Project/data/geo_coordinates_neigbour', index = False) "

-----

### Limpiamos Tablas - son unas 4 - revisamos si tienen el mismo orden etc, duplicados...

In [8]:
# MARZON AIRBnB
df_marzo = pd.read_csv('../w4-ETL-Project/docs/listngs_marzo_2022.csv')

df_marzo.head()

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,11547,https://www.airbnb.com/rooms/11547,20220314155457,2022-03-14,My home at the beach,"Sun, joy, relax, quality, beach & peace.<br />...",NaN,https://a0.muscache.com/pictures/494126/8c151b...,42942,https://www.airbnb.com/users/show/42942,...,4.93,4.79,4.77,NaN,f,1,1,0,0,0.87
1,69998,https://www.airbnb.com/rooms/69998,20220314155457,2022-03-15,COZY HIDEAWAY LOFT... MI AMOR...,Perfect place to escape for a few days of peac...,( soho-chic bohemian neighborhood of the city ...,https://a0.muscache.com/pictures/6d4007c1-f223...,353156,https://www.airbnb.com/users/show/353156,...,4.95,4.86,4.77,NaN,f,2,2,0,0,1.60
2,100831,https://www.airbnb.com/rooms/100831,20220314155457,2022-03-15,HOUSE IN MALLORCA - WiFi(ET-3045),<b>The space</b><br />House situated in a quie...,NaN,https://a0.muscache.com/pictures/675527/72b329...,529151,https://www.airbnb.com/users/show/529151,...,4.90,4.71,4.86,ETV-3045,f,1,1,0,0,0.16
3,105891,https://www.airbnb.com/rooms/105891,20220314155457,2022-03-14,VILLAGE HOUSE WITH POOL: IDEAL FOR FAMILIES,The house is equipped with the furniture and e...,The village's population does not reach two th...,https://a0.muscache.com/pictures/1036816/f36ce...,549192,https://www.airbnb.com/users/show/549192,...,4.93,4.71,4.93,ETV/6127,f,1,1,0,0,0.13
4,106833,https://www.airbnb.com/rooms/106833,20220314155457,2022-03-14,Villa with a big pool in Mallorca,<b>The space</b><br />This is a restored old b...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,551974,https://www.airbnb.com/users/show/551974,...,5.00,4.44,4.56,ET/1961,f,1,1,0,0,0.08

In [9]:
df_marzo.info('deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17795 entries, 0 to 17794
Data columns (total 74 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            17795 non-null  int64
 1   listing_url                                   17795 non-null  object
 2   scrape_id                                     17795 non-null  int64
 3   last_scraped                                  17795 non-null  object
 4   name                                          17794 non-null  object
 5   description                                   17557 non-null  object
 6   neighborhood_overview                         7387 non-null   object
 7   picture_url                                   17795 non-null  object
 8   host_id                                       17795 non-null  int64
 9   host_url                                      17795 non-null  object
 10  host_name                                     17751 non-null  object
 11  host_since                                    17751 non-null  object
 12  host_location                                 17729 non-null  object
 13  host_about                                    11452 non-null  object
 14  host_response_time                            16160 non-null  object
 15  host_response_rate                            16160 non-null  object
 16  host_acceptance_rate                          16639 non-null  object
 17  host_is_superhost                             17751 non-null  object
 18  host_thumbnail_url                            17751 non-null  object
 19  host_picture_url                              17751 non-null  object
 20  host_neighbourhood                            2436 non-null   object
 21  host_listings_count                           17751 non-null  float64
 22  host_total_listings_count                     17751 non-null  float64
 23  host_verifications                            17795 non-null  object
 24  host_has_profile_pic                          17751 non-null  object
 25  host_identity_verified                        17751 non-null  object
 26  neighbourhood                                 7387 non-null   object
 27  neighbourhood_cleansed                        17795 non-null  object
 28  neighbourhood_group_cleansed                  0 non-null      float64
 29  latitude                                      17795 non-null  float64
 30  longitude                                     17795 non-null  float64
 31  property_type                                 17795 non-null  object
 32  room_type                                     17795 non-null  object
 33  accommodates                                  17795 non-null  int64
 34  bathrooms                                     0 non-null      float64
 35  bathrooms_text                                17767 non-null  object
 36  bedrooms                                      17540 non-null  float64
 37  beds                                          17634 non-null  float64
 38  amenities                                     17795 non-null  object
 39  price                                         17795 non-null  object
 40  minimum_nights                                17795 non-null  int64
 41  maximum_nights                                17795 non-null  int64
 42  minimum_minimum_nights                        17794 non-null  float64
 43  maximum_minimum_nights                        17794 non-null  float64
 44  minimum_maximum_nights                        17794 non-null  float64
 45  maximum_maximum_nights                        17794 non-null  float64
 46  minimum_nights_avg_ntm                        17794 non-null  float64
 47  maximum_nights_avg_ntm                        17794 non-null  float64
 48  calendar_updated                              0 non-null      float64
 49  has_availability                              17795 non-null  object
 50  availability_30                               17795 non-null  int64
 51  availability_60                               17795 non-null  int64
 52  availability_90                               17795 non-null  int64
 53  availability_365                              17795 non-null  int64
 54  calendar_last_scraped                         17795 non-null  object
 55  number_of_reviews                             17795 non-null  int64
 56  number_of_reviews_ltm                         17795 non-null  int64
 57  number_of_reviews_l30d                        17795 non-null  int64
 58  first_review                                  11920 non-null  object
 59  last_review                                   11920 non-null  object
 60  review_scores_rating                          11920 non-null  float64
 61  review_scores_accuracy                        11810 non-null  float64
 62  review_scores_cleanliness                     11810 non-null  float64
 63  review_scores_checkin                         11807 non-null  float64
 64  review_scores_communication                   11809 non-null  float64
 65  review_scores_location                        11806 non-null  float64
 66  review_scores_value                           11806 non-null  float64
 67  license                                       10989 non-null  object
 68  instant_bookable                              17795 non-null  object
 69  calculated_host_listings_count                17795 non-null  int64
 70  calculated_host_listings_count_entire_homes   17795 non-null  int64
 71  calculated_host_listings_count_private_rooms  17795 non-null  int64
 72  calculated_host_listings_count_shared_rooms   17795 non-null  int64
 73  reviews_per_month                             11920 non-null  float64
dtypes: float64(23), int64(17), object(34)
memory usage: 10.0+ MB

In [10]:
df_marzo.shape

(17795, 74)

In [11]:
df_junio = pd.read_csv('../w4-ETL-Project/docs/listings_june_2022.csv')

df_junio.head()

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,33442954,https://www.airbnb.com/rooms/33442954,20220610041431,2022-06-10,"Air-Conditioned Apartment with Wi-Fi, Balcony ...","In Port de Sóller, directly at the sea, the ap...",NaN,https://a0.muscache.com/pictures/prohost-api/H...,205499549,https://www.airbnb.com/users/show/205499549,...,4.93,5.00,4.40,NaN,t,135,135,0,0,0.40
1,46137925,https://www.airbnb.com/rooms/46137925,20220610041431,2022-06-10,TONY 1A,We are delighted to offer you this three-bedro...,NaN,https://a0.muscache.com/pictures/7a32d936-ee8b...,313785862,https://www.airbnb.com/users/show/313785862,...,4.83,5.00,4.67,VTV0751 BAL,t,127,127,0,0,0.57
2,53146067,https://www.airbnb.com/rooms/53146067,20220610041431,2022-06-10,Ca na JB,Este alojamiento tiene una ubicación estratégi...,NaN,https://a0.muscache.com/pictures/a4b789a8-e332...,247923097,https://www.airbnb.com/users/show/247923097,...,NaN,NaN,NaN,NaN,t,1,1,0,0,NaN
3,49646764,https://www.airbnb.com/rooms/49646764,20220610041431,2022-06-10,Apartamento Bona Vista,Precioso y acogedor apartamento con una gran t...,NaN,https://a0.muscache.com/pictures/724cf1af-350b...,135102157,https://www.airbnb.com/users/show/135102157,...,5.00,5.00,5.00,NaN,t,1,1,0,0,0.58
4,30172628,https://www.airbnb.com/rooms/30172628,20220610041431,2022-06-10,Beachfront Villa Socias Playa,"IMPORTANT: In response to COVID-19, this prope...",NaN,https://a0.muscache.com/pictures/7079fb70-0519...,122491844,https://www.airbnb.com/users/show/122491844,...,4.00,4.75,4.50,L12E8492,t,189,189,0,0,0.10

In [12]:
df_junio.shape

(18298, 74)

In [45]:
# tengo 4 tablas, mismas columnas gracias Dios; 2 de 2022 y 2 de 2021, mismas columnas, las concatenamos para crear una tabl total
# De esta forma tenemos un max de listings de airbnb que me da la web
# Mas representativo al sacar medias de precios durante todo el año para hacer las comparaciones
# Mas facil de limpiar.

In [13]:
df_marzo22 = pd.read_csv('../w4-ETL-Project/docs/listngs_marzo_2022.csv')
df_jun22 = pd.read_csv('../w4-ETL-Project/docs/listings_june_2022.csv')
df_sept21 = pd.read_csv('../w4-ETL-Project/docs/listings_sept_2021.csv')
df_dec21 =pd.read_csv('../w4-ETL-Project/docs/listings_dec_2021.csv')
df_all_rows = pd.concat([df_marzo22, df_jun22, df_sept21, df_dec21], axis = 0)
df_all_rows.head()

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,11547,https://www.airbnb.com/rooms/11547,20220314155457,2022-03-14,My home at the beach,"Sun, joy, relax, quality, beach & peace.<br />...",NaN,https://a0.muscache.com/pictures/494126/8c151b...,42942,https://www.airbnb.com/users/show/42942,...,4.93,4.79,4.77,NaN,f,1,1,0,0,0.87
1,69998,https://www.airbnb.com/rooms/69998,20220314155457,2022-03-15,COZY HIDEAWAY LOFT... MI AMOR...,Perfect place to escape for a few days of peac...,( soho-chic bohemian neighborhood of the city ...,https://a0.muscache.com/pictures/6d4007c1-f223...,353156,https://www.airbnb.com/users/show/353156,...,4.95,4.86,4.77,NaN,f,2,2,0,0,1.60
2,100831,https://www.airbnb.com/rooms/100831,20220314155457,2022-03-15,HOUSE IN MALLORCA - WiFi(ET-3045),<b>The space</b><br />House situated in a quie...,NaN,https://a0.muscache.com/pictures/675527/72b329...,529151,https://www.airbnb.com/users/show/529151,...,4.90,4.71,4.86,ETV-3045,f,1,1,0,0,0.16
3,105891,https://www.airbnb.com/rooms/105891,20220314155457,2022-03-14,VILLAGE HOUSE WITH POOL: IDEAL FOR FAMILIES,The house is equipped with the furniture and e...,The village's population does not reach two th...,https://a0.muscache.com/pictures/1036816/f36ce...,549192,https://www.airbnb.com/users/show/549192,...,4.93,4.71,4.93,ETV/6127,f,1,1,0,0,0.13
4,106833,https://www.airbnb.com/rooms/106833,20220314155457,2022-03-14,Villa with a big pool in Mallorca,<b>The space</b><br />This is a restored old b...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,551974,https://www.airbnb.com/users/show/551974,...,5.00,4.44,4.56,ET/1961,f,1,1,0,0,0.08

In [14]:
df_all_rows.shape

(72035, 74)

In [15]:
df_all_rows.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'description',
       'neighborhood_overview', 'picture_url', 'host_id', 'host_url',
       'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [49]:
# Voy a dropear columnas no necesarias, aunque dejo algunas extras por si aca.

In [16]:
df_rmv_columns= df_all_rows.drop(['neighborhood_overview','picture_url','host_about','host_response_time','host_response_rate','host_thumbnail_url','host_picture_url','host_neighbourhood','host_listings_count','host_listings_count','host_has_profile_pic','neighbourhood_group_cleansed','bathrooms','amenities','calendar_updated','calculated_host_listings_count_private_rooms','calculated_host_listings_count_shared_rooms'], axis=1)


df_rmv_columns.shape

(72035, 58)

In [17]:
#confirmo que las que quedan de columnas están bien
df_rmv_columns.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'description',
       'host_id', 'host_url', 'host_name', 'host_since', 'host_location',
       'host_acceptance_rate', 'host_is_superhost',
       'host_total_listings_count', 'host_verifications',
       'host_identity_verified', 'neighbourhood', 'neighbourhood_cleansed',
       'latitude', 'longitude', 'property_type', 'room_type', 'accommodates',
       'bathrooms_text', 'bedrooms', 'beds', 'price', 'minimum_nights',
       'maximum_nights', 'minimum_minimum_nights', 'maximum_minimum_nights',
       'minimum_maximum_nights', 'maximum_maximum_nights',
       'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes', 'reviews_per_month'],
      dtype='object')

In [18]:
df_rmv_columns.drop_duplicates(inplace=True)

In [19]:
#no hay duplicados, entiendo que no se repiten ids ni nada, porque al coger fechas diferentes en el scrapeo no tiene porque coincidir
df_rmv_columns.shape

(72035, 58)

### Empezamos a ver que columnas nuevas necesitammos

---

In [54]:
# En primer lugar no deberia haber muchos nulos al haber eliminado columnas con datos vacios, pero si que habra algunos con N/A
# solo hay dos columnas, y no son relevantes por lo que las dejo tal cual.

In [20]:
df_rmv_columns.info('deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 72035 entries, 0 to 17632
Data columns (total 58 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   id                                           72035 non-null  int64
 1   listing_url                                  72035 non-null  object
 2   scrape_id                                    72035 non-null  int64
 3   last_scraped                                 72035 non-null  object
 4   name                                         72031 non-null  object
 5   description                                  71103 non-null  object
 6   host_id                                      72035 non-null  int64
 7   host_url                                     72035 non-null  object
 8   host_name                                    71197 non-null  object
 9   host_since                                   71197 non-null  object
 10  host_location                                71104 non-null  object
 11  host_acceptance_rate                         62738 non-null  object
 12  host_is_superhost                            71197 non-null  object
 13  host_total_listings_count                    71197 non-null  float64
 14  host_verifications                           72035 non-null  object
 15  host_identity_verified                       71197 non-null  object
 16  neighbourhood                                30412 non-null  object
 17  neighbourhood_cleansed                       72035 non-null  object
 18  latitude                                     72035 non-null  float64
 19  longitude                                    72035 non-null  float64
 20  property_type                                72035 non-null  object
 21  room_type                                    72035 non-null  object
 22  accommodates                                 72035 non-null  int64
 23  bathrooms_text                               71935 non-null  object
 24  bedrooms                                     71012 non-null  float64
 25  beds                                         71183 non-null  float64
 26  price                                        72035 non-null  object
 27  minimum_nights                               72035 non-null  int64
 28  maximum_nights                               72035 non-null  int64
 29  minimum_minimum_nights                       72032 non-null  float64
 30  maximum_minimum_nights                       72032 non-null  float64
 31  minimum_maximum_nights                       72032 non-null  float64
 32  maximum_maximum_nights                       72032 non-null  float64
 33  minimum_nights_avg_ntm                       72032 non-null  float64
 34  maximum_nights_avg_ntm                       72032 non-null  float64
 35  has_availability                             72035 non-null  object
 36  availability_30                              72035 non-null  int64
 37  availability_60                              72035 non-null  int64
 38  availability_90                              72035 non-null  int64
 39  availability_365                             72035 non-null  int64
 40  calendar_last_scraped                        72035 non-null  object
 41  number_of_reviews                            72035 non-null  int64
 42  number_of_reviews_ltm                        72035 non-null  int64
 43  number_of_reviews_l30d                       72035 non-null  int64
 44  first_review                                 49003 non-null  object
 45  last_review                                  49003 non-null  object
 46  review_scores_rating                         49003 non-null  float64
 47  review_scores_accuracy                       48548 non-null  float64
 48  review_scores_cleanliness                    48549 non-null  float64
 49  review_scores_checkin                        48537 non-null  float64
 50  review_scores_communication                  48546 non-null  float64
 51  review_scores_location                       48533 non-null  float64
 52  review_scores_value                          48533 non-null  float64
 53  license                                      44491 non-null  object
 54  instant_bookable                             72035 non-null  object
 55  calculated_host_listings_count               72035 non-null  int64
 56  calculated_host_listings_count_entire_homes  72035 non-null  int64
 57  reviews_per_month                            49003 non-null  float64
dtypes: float64(19), int64(15), object(24)
memory usage: 32.4+ MB

In [21]:
df_all_rows.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'description',
       'neighborhood_overview', 'picture_url', 'host_id', 'host_url',
       'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [22]:
# la idea es sacar una columna que si hay 2 habitaciones diga que son 50m2, sin hay 4 hab. son 100m2 etc.  Asi podre comparar mas adelante
# Otra para calcular el precio x mes x 
df_rmv_columns.head()

,id,listing_url,scrape_id,last_scraped,name,description,host_id,host_url,host_name,host_since,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,reviews_per_month
0,11547,https://www.airbnb.com/rooms/11547,20220314155457,2022-03-14,My home at the beach,"Sun, joy, relax, quality, beach & peace.<br />...",42942,https://www.airbnb.com/users/show/42942,Daniel,2009-10-02,...,4.58,4.92,4.93,4.79,4.77,NaN,f,1,1,0.87
1,69998,https://www.airbnb.com/rooms/69998,20220314155457,2022-03-15,COZY HIDEAWAY LOFT... MI AMOR...,Perfect place to escape for a few days of peac...,353156,https://www.airbnb.com/users/show/353156,Lor,2011-01-19,...,4.92,4.94,4.95,4.86,4.77,NaN,f,2,2,1.60
2,100831,https://www.airbnb.com/rooms/100831,20220314155457,2022-03-15,HOUSE IN MALLORCA - WiFi(ET-3045),<b>The space</b><br />House situated in a quie...,529151,https://www.airbnb.com/users/show/529151,Miguel,2011-04-23,...,4.95,5.00,4.90,4.71,4.86,ETV-3045,f,1,1,0.16
3,105891,https://www.airbnb.com/rooms/105891,20220314155457,2022-03-14,VILLAGE HOUSE WITH POOL: IDEAL FOR FAMILIES,The house is equipped with the furniture and e...,549192,https://www.airbnb.com/users/show/549192,Bartomeu,2011-05-01,...,5.00,4.86,4.93,4.71,4.93,ETV/6127,f,1,1,0.13
4,106833,https://www.airbnb.com/rooms/106833,20220314155457,2022-03-14,Villa with a big pool in Mallorca,<b>The space</b><br />This is a restored old b...,551974,https://www.airbnb.com/users/show/551974,Xisco,2011-05-02,...,4.78,4.89,5.00,4.44,4.56,ET/1961,f,1,1,0.08

In [23]:
# vamos a contar el numero de habitaciones como se distribuyen
#pandas.dataframe.column-name.unique()

In [24]:
# muy bienm asi vemos la distribución y podemos  diseñar el loop para la nueva columna

df_rmv_columns.groupby('bedrooms').count()[:15]

,id,listing_url,scrape_id,last_scraped,name,description,host_id,host_url,host_name,host_since,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,reviews_per_month
bedrooms,,,,,,,,,,,,,,,,,,,,,
1.0,13704,13704,13704,13704,13704,13276,13704,13704,13638,13638,...,10511,10511,10511,10511,10511,4845,13704,13704,13704,10547
2.0,14234,14234,14234,14234,14230,14103,14234,14234,14096,14096,...,10453,10451,10453,10451,10451,8389,14234,14234,14234,10515
3.0,21827,21827,21827,21827,21827,21746,21827,21827,21518,21518,...,14234,14234,14234,14230,14230,15752,21827,21827,21827,14389
4.0,13276,13276,13276,13276,13276,13165,13276,13276,13067,13067,...,7986,7980,7983,7980,7980,9681,13276,13276,13276,8084
5.0,4847,4847,4847,4847,4847,4805,4847,4847,4774,4774,...,2862,2862,2862,2862,2862,3398,4847,4847,4847,2929
6.0,2353,2353,2353,2353,2353,2315,2353,2353,2319,2319,...,1275,1271,1275,1271,1271,1645,2353,2353,2353,1301
7.0,361,361,361,361,361,357,361,361,353,353,...,211,211,211,211,211,259,361,361,361,215
8.0,243,243,243,243,243,237,243,243,243,243,...,117,117,117,117,117,143,243,243,243,121
9.0,39,39,39,39,39,35,39,39,39,39,...,15,15,15,15,15,12,39,39,39,15
10.0,22,22,22,22,22,22,22,22,21,21,...,11,11,11,11,11,16,22,22,22,11
11.0,6,6,6,6,6,6,6,6,6,6,...,2,2,2,2,2,4,6,6,6,2
12.0,56,56,56,56,56,56,56,56,56,56,...,28,28,28,28,28,21,56,56,56,28
13.0,8,8,8,8,8,8,8,8,8,8,...,3,3,3,3,3,4,8,8,8,3
14.0,8,8,8,8,8,8,8,8,8,8,...,4,4,4,4,4,4,8,8,8,4

In [60]:
#vamos a borrar todas las filas que tiene mas de hasbitaciones, porque al final complica el estudio ya que hay menos y es mas dificil de calcular

In [61]:
'''data_bedrooms = df_rmv_columns.loc[(df_rmv_columns['bedrooms'] > 8)]
data_bedrooms.shape '''

"data_bedrooms = df_rmv_columns.loc[(df_rmv_columns['bedrooms'] > 8)]\ndata_bedrooms.shape "

In [25]:
# parece funcionar, haciendo esta formula

df_rmv_columns.drop(df_rmv_columns[df_rmv_columns.bedrooms > 6].index, inplace=True)
df_rmv_columns.shape

(69014, 58)

In [63]:
#vamos a crear la nueva columna con datos de los rangos en m2 basado en el numero de habitaciones

In [26]:
df = df_rmv_columns

In [27]:
import numpy as np

In [28]:
conditions = [
    (df['bedrooms'] <= 2),
    (df['bedrooms'] == 3),
    (df['bedrooms'] >= 4) & (df['bedrooms'] <= 5),
    (df['bedrooms'] > 5)]

values = ['50', '85', '120', '180']
df['sq_meters'] = np.select(conditions, values)

In [29]:
#ha incluido la nueva columna, con nuestras condiciones ( Impresionante)
df.shape

(69014, 59)

In [30]:
#comprobamos si es correcto y lo es!

df[['bedrooms', 'sq_meters']]

       bedrooms sq_meters
0           1.0        50
1           1.0        50
2           4.0       120
3           3.0        85
4           2.0        50
...         ...       ...
17628       5.0       120
17629       1.0        50
17630       3.0        85
17631       1.0        50
17632       2.0        50

[69014 rows x 2 columns]

In [69]:
# ahora haremos unos nuevos condicionales, ya que tenemos las fechas de cuando se escrapearon los arbnb podemos incluir la media de precios de esos meses que
# provee Idealista

# tengo precio por noche, metros cuadrados, podemos generar nueva columna con el calculo si son un mes x metro cuadrado
# 
#  Luego incluimos precios alguiler de mercado

In [31]:
df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'description',
       'host_id', 'host_url', 'host_name', 'host_since', 'host_location',
       'host_acceptance_rate', 'host_is_superhost',
       'host_total_listings_count', 'host_verifications',
       'host_identity_verified', 'neighbourhood', 'neighbourhood_cleansed',
       'latitude', 'longitude', 'property_type', 'room_type', 'accommodates',
       'bathrooms_text', 'bedrooms', 'beds', 'price', 'minimum_nights',
       'maximum_nights', 'minimum_minimum_nights', 'maximum_minimum_nights',
       'minimum_maximum_nights', 'maximum_maximum_nights',
       'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes', 'reviews_per_month',
       'sq_meters'],
      dtype='object')

In [32]:
# vamos a generar la columna nueva , precio arbnb x mes. Multiplicamos el precio x 30 noches
# tenemos el $ en la columna price, hay que eliminarlo y cambiar la columna a integer antes de esta formuala

In [33]:
df.dtypes

id                                               int64
listing_url                                     object
scrape_id                                        int64
last_scraped                                    object
name                                            object
description                                     object
host_id                                          int64
host_url                                        object
host_name                                       object
host_since                                      object
host_location                                   object
host_acceptance_rate                            object
host_is_superhost                               object
host_total_listings_count                      float64
host_verifications                              object
host_identity_verified                          object
neighbourhood                                   object
neighbourhood_cleansed                          object
latitude                                       float64
longitude                                      float64
property_type                                   object
room_type                                       object
accommodates                                     int64
bathrooms_text                                  object
bedrooms                                       float64
beds                                           float64
price                                           object
minimum_nights                                   int64
maximum_nights                                   int64
minimum_minimum_nights                         float64
maximum_minimum_nights                         float64
minimum_maximum_nights                         float64
maximum_maximum_nights                         float64
minimum_nights_avg_ntm                         float64
maximum_nights_avg_ntm                         float64
has_availability                                object
availability_30                                  int64
availability_60                                  int64
availability_90                                  int64
availability_365                                 int64
calendar_last_scraped                           object
number_of_reviews                                int64
number_of_reviews_ltm                            int64
number_of_reviews_l30d                           int64
first_review                                    object
last_review                                     object
review_scores_rating                           float64
review_scores_accuracy                         float64
review_scores_cleanliness                      float64
review_scores_checkin                          float64
review_scores_communication                    float64
review_scores_location                         float64
review_scores_value                            float64
license                                         object
instant_bookable                                object
calculated_host_listings_count                   int64
calculated_host_listings_count_entire_homes      int64
reviews_per_month                              float64
sq_meters                                       object
dtype: object

In [34]:
#here im replacing the $ sign for nothin and also the "," in the thousands which was not letting me to change the column from a string to a float
# this way now i'm able do the next calculations without the error " cant multiply a string vs integer"
df['price'] = df['price'].str.replace('$','')
df['price'] = df['price'].str.replace(',','')
print(df.price)

0         91.00
1         87.00
2        155.00
3        110.00
4        200.00
          ...
17628    398.00
17629     25.00
17630    211.00
17631    195.00
17632     85.00
Name: price, Length: 69014, dtype: object

/var/folders/94/v2x46p016qs_tyhzbgv7ywm40000gn/T/ipykernel_1979/44103457.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['price'] = df['price'].str.replace('$','')

In [35]:
# downcasting from object string to float the price column

df["price"] = pd.to_numeric(df["price"], downcast="float")

In [36]:
# confirming that has worked
print(df.dtypes)

id                                               int64
listing_url                                     object
scrape_id                                        int64
last_scraped                                    object
name                                            object
description                                     object
host_id                                          int64
host_url                                        object
host_name                                       object
host_since                                      object
host_location                                   object
host_acceptance_rate                            object
host_is_superhost                               object
host_total_listings_count                      float64
host_verifications                              object
host_identity_verified                          object
neighbourhood                                   object
neighbourhood_cleansed                          object
latitude                                       float64
longitude                                      float64
property_type                                   object
room_type                                       object
accommodates                                     int64
bathrooms_text                                  object
bedrooms                                       float64
beds                                           float64
price                                          float32
minimum_nights                                   int64
maximum_nights                                   int64
minimum_minimum_nights                         float64
maximum_minimum_nights                         float64
minimum_maximum_nights                         float64
maximum_maximum_nights                         float64
minimum_nights_avg_ntm                         float64
maximum_nights_avg_ntm                         float64
has_availability                                object
availability_30                                  int64
availability_60                                  int64
availability_90                                  int64
availability_365                                 int64
calendar_last_scraped                           object
number_of_reviews                                int64
number_of_reviews_ltm                            int64
number_of_reviews_l30d                           int64
first_review                                    object
last_review                                     object
review_scores_rating                           float64
review_scores_accuracy                         float64
review_scores_cleanliness                      float64
review_scores_checkin                          float64
review_scores_communication                    float64
review_scores_location                         float64
review_scores_value                            float64
license                                         object
instant_bookable                                object
calculated_host_listings_count                   int64
calculated_host_listings_count_entire_homes      int64
reviews_per_month                              float64
sq_meters                                       object
dtype: object

In [37]:
# At first iw as goinggto divide price/ by minimum_nights ( because in some cases, the minmum stay can be 3 days, which will make our data unconsistent) then we multiply by 30 days
# but i double check and always price is per night so no need for the division with the minimun night.
# now lets see if we can do the new column with the calculation and make sure it did work

df['price_monthly'] = (df['price']) * 30
df.head()

,id,listing_url,scrape_id,last_scraped,name,description,host_id,host_url,host_name,host_since,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,reviews_per_month,sq_meters,price_monthly
0,11547,https://www.airbnb.com/rooms/11547,20220314155457,2022-03-14,My home at the beach,"Sun, joy, relax, quality, beach & peace.<br />...",42942,https://www.airbnb.com/users/show/42942,Daniel,2009-10-02,...,4.93,4.79,4.77,NaN,f,1,1,0.87,50,2730.0
1,69998,https://www.airbnb.com/rooms/69998,20220314155457,2022-03-15,COZY HIDEAWAY LOFT... MI AMOR...,Perfect place to escape for a few days of peac...,353156,https://www.airbnb.com/users/show/353156,Lor,2011-01-19,...,4.95,4.86,4.77,NaN,f,2,2,1.60,50,2610.0
2,100831,https://www.airbnb.com/rooms/100831,20220314155457,2022-03-15,HOUSE IN MALLORCA - WiFi(ET-3045),<b>The space</b><br />House situated in a quie...,529151,https://www.airbnb.com/users/show/529151,Miguel,2011-04-23,...,4.90,4.71,4.86,ETV-3045,f,1,1,0.16,120,4650.0
3,105891,https://www.airbnb.com/rooms/105891,20220314155457,2022-03-14,VILLAGE HOUSE WITH POOL: IDEAL FOR FAMILIES,The house is equipped with the furniture and e...,549192,https://www.airbnb.com/users/show/549192,Bartomeu,2011-05-01,...,4.93,4.71,4.93,ETV/6127,f,1,1,0.13,85,3300.0
4,106833,https://www.airbnb.com/rooms/106833,20220314155457,2022-03-14,Villa with a big pool in Mallorca,<b>The space</b><br />This is a restored old b...,551974,https://www.airbnb.com/users/show/551974,Xisco,2011-05-02,...,5.00,4.44,4.56,ET/1961,f,1,1,0.08,50,6000.0

In [38]:
# calculations are fine and consistent

df[['price', 'minimum_nights', 'price_monthly','sq_meters','listing_url']]

,price,minimum_nights,price_monthly,sq_meters,listing_url
0,91.0,7,2730.0,50,https://www.airbnb.com/rooms/11547
1,87.0,3,2610.0,50,https://www.airbnb.com/rooms/69998
2,155.0,7,4650.0,120,https://www.airbnb.com/rooms/100831
3,110.0,6,3300.0,85,https://www.airbnb.com/rooms/105891
4,200.0,5,6000.0,50,https://www.airbnb.com/rooms/106833
...,...,...,...,...,...
17628,398.0,1,11940.0,120,https://www.airbnb.com/rooms/53768559
17629,25.0,1,750.0,50,https://www.airbnb.com/rooms/53770992
17630,211.0,1,6330.0,85,https://www.airbnb.com/rooms/53777865
17631,195.0,1,5850.0,50,https://www.airbnb.com/rooms/53782321
17632,85.0,6,2550.0,50,https://www.airbnb.com/rooms/53791212

In [78]:
df.shape

(69014, 60)

In [39]:
# we need to change the column sqm into a integer befor calculating anything
df["sq_meters"] = pd.to_numeric(df["sq_meters"], downcast="integer")

In [40]:
# alright! now I will just do a new column with the price / sq_meter _ this output will be to match it with other datasources..
# ..that provide the avg price x sqm of rents by Municipios AKA Districts ( based on Montly data)

df['price_sqm_amonth'] = df['price_monthly'] / df['sq_meters']

In [41]:
# looking gorgeous

df[['price', 'minimum_nights', 'price_monthly','sq_meters','listing_url','price_sqm_amonth','last_scraped' ]]

,price,minimum_nights,price_monthly,sq_meters,listing_url,price_sqm_amonth,last_scraped
0,91.0,7,2730.0,50,https://www.airbnb.com/rooms/11547,54.599998,2022-03-14
1,87.0,3,2610.0,50,https://www.airbnb.com/rooms/69998,52.200001,2022-03-15
2,155.0,7,4650.0,120,https://www.airbnb.com/rooms/100831,38.750000,2022-03-15
3,110.0,6,3300.0,85,https://www.airbnb.com/rooms/105891,38.823528,2022-03-14
4,200.0,5,6000.0,50,https://www.airbnb.com/rooms/106833,120.000000,2022-03-14
...,...,...,...,...,...,...,...
17628,398.0,1,11940.0,120,https://www.airbnb.com/rooms/53768559,99.500000,2021-12-13
17629,25.0,1,750.0,50,https://www.airbnb.com/rooms/53770992,15.000000,2021-12-13
17630,211.0,1,6330.0,85,https://www.airbnb.com/rooms/53777865,74.470589,2021-12-13
17631,195.0,1,5850.0,50,https://www.airbnb.com/rooms/53782321,117.000000,2021-12-13
17632,85.0,6,2550.0,50,https://www.airbnb.com/rooms/53791212,51.000000,2021-12-13

In [42]:
# to work in the future with sql we are going to check if the column scrapp data is in a date format 
# will also be necessary to group by  and use conditionals since we also be provinding data based by the months we have
# shows that we have an object so alright! that will work but we will make a little adjustment taking the days out, since are not valuable

# so i went and created new column with year and month only 

df['last_scraped_month'] = pd.to_datetime(df['last_scraped']).dt.strftime('%Y-%m')

In [43]:
df[['price', 'minimum_nights', 'price_monthly','sq_meters','listing_url','price_sqm_amonth','last_scraped', 'last_scraped_month' ]]

,price,minimum_nights,price_monthly,sq_meters,listing_url,price_sqm_amonth,last_scraped,last_scraped_month
0,91.0,7,2730.0,50,https://www.airbnb.com/rooms/11547,54.599998,2022-03-14,2022-03
1,87.0,3,2610.0,50,https://www.airbnb.com/rooms/69998,52.200001,2022-03-15,2022-03
2,155.0,7,4650.0,120,https://www.airbnb.com/rooms/100831,38.750000,2022-03-15,2022-03
3,110.0,6,3300.0,85,https://www.airbnb.com/rooms/105891,38.823528,2022-03-14,2022-03
4,200.0,5,6000.0,50,https://www.airbnb.com/rooms/106833,120.000000,2022-03-14,2022-03
...,...,...,...,...,...,...,...,...
17628,398.0,1,11940.0,120,https://www.airbnb.com/rooms/53768559,99.500000,2021-12-13,2021-12
17629,25.0,1,750.0,50,https://www.airbnb.com/rooms/53770992,15.000000,2021-12-13,2021-12
17630,211.0,1,6330.0,85,https://www.airbnb.com/rooms/53777865,74.470589,2021-12-13,2021-12
17631,195.0,1,5850.0,50,https://www.airbnb.com/rooms/53782321,117.000000,2021-12-13,2021-12
17632,85.0,6,2550.0,50,https://www.airbnb.com/rooms/53791212,51.000000,2021-12-13,2021-12

In [44]:
# saved:
# df.to_csv(r'../w4-ETL-Project/docs/total_arbnb.csv', index=True)

In [45]:
print(df.dtypes)

id                      int64
listing_url            object
scrape_id               int64
last_scraped           object
name                   object
                       ...
reviews_per_month     float64
sq_meters               int16
price_monthly         float32
price_sqm_amonth      float32
last_scraped_month     object
Length: 62, dtype: object

In [85]:
# alright then i think im done with this first part we will come back to add postal codes to municipios AKA districts and msq2 rent prices x postal code.

-----

### Scrapping de web para recoger los codigos postales por Municipios de Mallorca

-------

#guardo el excel de la geo localizacion de los municipios

In [20]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By

In [21]:
opciones=Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
opciones.add_argument('--start-maximized')         # comienza maximizado
#opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies
#opciones.add_extension('driver_folder/adblock.crx')       # adblocker
opciones.add_argument('--incognito')

In [22]:
driver = ChromeDriverManager().install()#"./chromedriver.exe" #remember substitute this for your driver path
driver = webdriver.Chrome(driver,options = opciones)
url = 'https://www.uncodigopostal.nom.es/espana/1/codigos-postales-pueblos-Balears-Illes/7/1'
#other url : https://xn--cdigos-postales-vrb.cybo.com/espa%C3%B1a/islas-baleares/

/var/folders/94/v2x46p016qs_tyhzbgv7ywm40000gn/T/ipykernel_1882/2469863267.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(driver,options = opciones)

In [23]:
# im trying easy scrapping from a web - since seems quite a simple table
# i commented it so if i refresh does not mess with next steps, i saved as a CSV
'''df_postales = pd.read_clipboard()
df_postales'''

'df_postales = pd.read_clipboard()\ndf_postales'

In [24]:
'''df_postales.to_csv(r'../w4-ETL-Project/docs/scraped_postalcodes', index=True) '''

"df_postales.to_csv(r'../w4-ETL-Project/docs/scraped_postalcodes', index=True) "

In [25]:
df_postalcodes= pd.read_csv(r'../w4-ETL-Project/docs/scraped_postalcodes',index_col=[0])
df_postalcodes

                             province  postal_code
districts
  Alaior                Balears Illes         7730
  Alaro                 Balears Illes         7340
  Alcudia               Balears Illes         7400
  Algaida               Balears Illes         7210
  Andratx               Balears Illes         7150
...                               ...          ...
  Sineu                 Balears Illes         7510
  Soller                Balears Illes         7100
  Son Servera           Balears Illes         7550
  Valldemossa           Balears Illes         7170
  Vilafranca de Bonany  Balears Illes         7250

[67 rows x 2 columns]

In [92]:
# añadimos los headers

#df_postalcodes.set_axis([ "districts", "province", "postal_code" ],axis=1)

# df_postalcodes.head()

ValueError: Length mismatch: Expected axis has 2 elements, new values have 3 elements

In [99]:
'''df_postalcodes.drop(df_postalcodes.columns[[0,1]], axis=1)
df_postalcodes.shape '''

'df_postalcodes.drop(df_postalcodes.columns[[0,1]], axis=1)\ndf_postalcodes.shape '

In [ ]:
 # df_postalcodes.to_csv(r'../w4-ETL-Project/docs/scraped_postalcodes', index=False)

In [26]:
df_postalcodes

                             province  postal_code
districts
  Alaior                Balears Illes         7730
  Alaro                 Balears Illes         7340
  Alcudia               Balears Illes         7400
  Algaida               Balears Illes         7210
  Andratx               Balears Illes         7150
...                               ...          ...
  Sineu                 Balears Illes         7510
  Soller                Balears Illes         7100
  Son Servera           Balears Illes         7550
  Valldemossa           Balears Illes         7170
  Vilafranca de Bonany  Balears Illes         7250

[67 rows x 2 columns]

In [27]:
df_postalcodes.reset_index(inplace=True)


df_postalcodes

                 districts       province  postal_code
0                   Alaior  Balears Illes         7730
1                    Alaro  Balears Illes         7340
2                  Alcudia  Balears Illes         7400
3                  Algaida  Balears Illes         7210
4                  Andratx  Balears Illes         7150
..                     ...            ...          ...
62                   Sineu  Balears Illes         7510
63                  Soller  Balears Illes         7100
64             Son Servera  Balears Illes         7550
65             Valldemossa  Balears Illes         7170
66    Vilafranca de Bonany  Balears Illes         7250

[67 rows x 3 columns]

In [28]:
# del df_postalcodes['index']

KeyError: 'index'

In [29]:
df_postalcodes.drop_duplicates(inplace=True)
df_postalcodes['districts'].str.strip()
df_postalcodes

                 districts       province  postal_code
0                   Alaior  Balears Illes         7730
1                    Alaro  Balears Illes         7340
2                  Alcudia  Balears Illes         7400
3                  Algaida  Balears Illes         7210
4                  Andratx  Balears Illes         7150
..                     ...            ...          ...
62                   Sineu  Balears Illes         7510
63                  Soller  Balears Illes         7100
64             Son Servera  Balears Illes         7550
65             Valldemossa  Balears Illes         7170
66    Vilafranca de Bonany  Balears Illes         7250

[67 rows x 3 columns]

In [30]:
# i want to add a 0 infront of the postal codes number since is how they are supposed to be
# i check the type of object and adapt to add it
df_postalcodes.dtypes

districts      object
province       object
postal_code     int64
dtype: object

In [31]:
df_postalcodes['postal_code'] = df_postalcodes['postal_code'].astype(str)
df_postalcodes['postal_code'] = df_postalcodes['postal_code'].str.rjust(5,'0')
df_postalcodes

                 districts       province postal_code
0                   Alaior  Balears Illes       07730
1                    Alaro  Balears Illes       07340
2                  Alcudia  Balears Illes       07400
3                  Algaida  Balears Illes       07210
4                  Andratx  Balears Illes       07150
..                     ...            ...         ...
62                   Sineu  Balears Illes       07510
63                  Soller  Balears Illes       07100
64             Son Servera  Balears Illes       07550
65             Valldemossa  Balears Illes       07170
66    Vilafranca de Bonany  Balears Illes       07250

[67 rows x 3 columns]

In [32]:
# alright now is quite clean and ready to be saved

#df_postalcodes.to_csv(r'../w4-ETL-Project/docs/scraped_postalcodes.csv', index=False)

---

### scrapping Idealista u otra

In [1]:
#havent managed with beautifulsoup as is in javascript
import requests as req
from bs4 import BeautifulSoup as bs
import pandas as pd

In [15]:
'''df_palquiler = pd.read_clipboard()
df_palquiler''

Empty DataFrame
Columns: [.str.rstrip()]
Index: []

In [2]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By

In [ ]:
 #url = 'https://www.fotocasa.es/indice-precio-vivienda/palma-de-mallorca/todas-las-zonas'

In [3]:
#driver configuration
opciones=Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
opciones.add_argument('--start-maximized')         # comienza maximizado
opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies
#opciones.add_extension('driver_folder/adblock.crx')       # adblocker
opciones.add_argument('--incognito')

In [4]:
# After few hours, had trouble scraping a nice table from a web due of javascript,
# i found this way to make it wait the loading and so to be recognized by selenium

from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait

In [5]:
driver = ChromeDriverManager().install()#"./chromedriver.exe" #remember substitute this for your driver path
driver = webdriver.Chrome(driver,options = opciones)

/var/folders/94/v2x46p016qs_tyhzbgv7ywm40000gn/T/ipykernel_1775/1854830627.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(driver,options = opciones)

In [6]:
url2 = 'https://realadvisor.es/es/precios-viviendas/provincia-baleares'

In [7]:
driver.get(url2)

In [9]:
# this code is meant to wait for the load of the page, while clicking on the buttons after for the darn cookies
#  WebDriverWait(driver, 10).until(EC.invisibility_of_element((By.XPATH, '//*[@id="onetrust-accept-btn-handler"]')))

WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.XPATH, '//*[@id="onetrust-accept-btn-handler"]'))).click()

In [11]:
# Then hit on the "show more button" for the web to show me the complete table, since it was hiding most of it I could not scrap it
# I could only scrap half of it and the rest was empty, this whole process grant me acces
mostrar = WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.XPATH, '//*[@id="__next"]/div[1]/div[2]/div[1]/div[2]/div[2]/div[8]/div/button'))).click()

TimeoutException: Message:
Stacktrace:
0   chromedriver                        0x0000000102d05a90 chromedriver + 3889808
1   chromedriver                        0x0000000102c94b54 chromedriver + 3427156
2   chromedriver                        0x0000000102986238 chromedriver + 221752
3   chromedriver                        0x00000001029b74c8 chromedriver + 423112
4   chromedriver                        0x00000001029e0944 chromedriver + 592196
5   chromedriver                        0x00000001029ac54c chromedriver + 378188
6   chromedriver                        0x0000000102cd92f8 chromedriver + 3707640
7   chromedriver                        0x0000000102cdcea8 chromedriver + 3722920
8   chromedriver                        0x0000000102ce33d8 chromedriver + 3748824
9   chromedriver                        0x0000000102cdd9a8 chromedriver + 3725736
10  chromedriver                        0x0000000102cb8de8 chromedriver + 3575272
11  chromedriver                        0x0000000102cf7d1c chromedriver + 3833116
12  chromedriver                        0x0000000102cf7e84 chromedriver + 3833476
13  chromedriver                        0x0000000102d0c210 chromedriver + 3916304
14  libsystem_pthread.dylib             0x00000001a032426c _pthread_start + 148
15  libsystem_pthread.dylib             0x00000001a031f08c thread_start + 8

In [12]:
# Here i do a loop to find all the elements of the rows, for pd dataframe. Im glad it worked.

tabla=driver.find_element(By.CLASS_NAME,'MuiTableBody-root')

filas=tabla.find_elements(By.CLASS_NAME,'MuiTableRow-root')


data=[]

for f in filas:
    
    elementos=f.find_elements(By.TAG_NAME,'td')
    
    tmp=[]
    
    for e in elementos:
        
        tmp.append(e.text)
        
    data.append(tmp)
    
data

[['Palma', '3238 €', '2930 €', '141 €', '409.652'],
 ['Calvià', '4531 €', '5357 €', '216 €', '49.327'],
 ['Manacor', '1800 €', '1927 €', '109 €', '42.634'],
 ['Santa Eulària des Riu', '5167 €', '6825 €', '230 €', '41.783'],
 ['Llucmajor', '2700 €', '2930 €', '137 €', '36.364'],
 ['Ciutadella de Menorca', '2281 €', '2750 €', '120 €', '29.239'],
 ['Maó-Mahón', '2321 €', '2222 €', '93 €', '28.594'],
 ['Sant Josep de sa Talaia', '4612 €', '6900 €', '272 €', '26.503'],
 ['Sant Antoni de Portmany', '4000 €', '6375 €', '259 €', '25.773'],
 ['Felanitx', '1753 €', '2379 €', '116 €', '17.484'],
 ['Pollença', '3108 €', '3857 €', '134 €', '16.182'],
 ['Sóller', '3148 €', '3800 €', '132 €', '14.045'],
 ['Formentera', '7051 €', '11.723 €', '395 €', '12.216'],
 ['Santanyí', '3487 €', '5363 €', '137 €', '12.128'],
 ['Santa Margalida', '2438 €', '1992 €', '124 €', '11.952'],
 ['Capdepera', '3193 €', '2739 €', '137 €', '11.605'],
 ['Son Servera', '2200 €', '2803 €', '130 €', '11.380'],
 ['Andratx', '5049 €', '4440 €', '217 €', '11.007'],
 ['Campos', '2208 €', '3391 €', '92 €', '10.636'],
 ['Sant Llorenç des Cardassar', '2528 €', '2667 €', '141 €', '8402'],
 ['Artà', '2600 €', '3068 €', '131 €', '7666'],
 ['es Castell', '2357 €', '2551 €', '103 €', '7350'],
 ['Muro', '1752 €', '1537 €', '120 €', '6928'],
 ['Sant Lluís', '2696 €', '3298 €', '151 €', '6909'],
 ['Bunyola', '2829 €', '3163 €', '111 €', '6712'],
 ['Sant Joan de Labritja', '4435 €', '7813 €', '257 €', '6200'],
 ['Algaida', '2427 €', '2288 €', '114 €', '5531'],
 ['ses Salines', '3269 €', '3922 €', '124 €', '4873'],
 ['Es Mercadal', '2558 €', '2913 €', '136 €', '4772'],
 ['Selva', '2000 €', '2321 €', '83 €', '3980'],
 ['Sencelles', '2398 €', '2754 €', '141 €', '3195'],
 ['Puigpunyent', '2911 €', '3451 €', '120 €', '1964'],
 ['Banyalbufar', '3375 €', '3162 €', '104 €', '503']]

In [13]:
cabeceras =driver.find_element(By.CLASS_NAME,'MuiTableHead-root')

cabeceras=[c.text for c in cabeceras.find_elements(By.TAG_NAME,'th')]


cabeceras

['Municipios',
 'Precio medio por m²\nApartamento',
 'Precio medio por m²\nCasa',
 'Precio medio por m²\nRenta',
 'Población']

In [14]:
df_rent_municipio=pd.DataFrame(data, columns=cabeceras)

df_rent_municipio.head()

,Municipios,Precio medio por m²\nApartamento,Precio medio por m²\nCasa,Precio medio por m²\nRenta,Población
0,Palma,3238 €,2930 €,141 €,409.652
1,Calvià,4531 €,5357 €,216 €,49.327
2,Manacor,1800 €,1927 €,109 €,42.634
3,Santa Eulària des Riu,5167 €,6825 €,230 €,41.783
4,Llucmajor,2700 €,2930 €,137 €,36.364

In [16]:
df_rent_municipio.shape

(33, 5)

In [17]:
#Saved as csv
# df_rent_municipio.to_csv(r'../w4-ETL-Project/docs/scraped_rent_municipios.csv',index=False)

---

In [37]:
driver.quit()

AttributeError: 'str' object has no attribute 'quit'

## Homogenize Tables to have same District names since there are accents, - , and either catalonian or spanish

----

In [2]:
# lets put all together 
import pandas as pd

---

EMPEZAMOS CON RENTA MUNICIPIOS

In [2]:
df_rent_municipio = pd.read_csv('../w4-ETL-Project/docs/scraped_rent_municipios')
df_rent_municipio.head()

,Municipios,Precio medio por m²\nApartamento,Precio medio por m²\nCasa,Precio medio por m²\nRenta,Población
0,Palma,3238 €,2930 €,141 €,409.652
1,Calvià,4531 €,5357 €,216 €,49.327
2,Manacor,1800 €,1927 €,109 €,42.634
3,Santa Eulària des Riu,5167 €,6825 €,230 €,41.783
4,Llucmajor,2700 €,2930 €,137 €,36.364

In [4]:
df_rent_municipio.shape

(33, 5)

In [3]:
df_rent_municipio['Municipios'] = df_rent_municipio['Municipios'].str.strip()

In [4]:
df_rent_municipio.Municipios.value_counts()

Palma                         1
Andratx                       1
Puigpunyent                   1
Sencelles                     1
Selva                         1
Es Mercadal                   1
ses Salines                   1
Algaida                       1
Sant Joan de Labritja         1
Bunyola                       1
Sant Lluís                    1
Muro                          1
es Castell                    1
Artà                          1
Sant Llorenç des Cardassar    1
Campos                        1
Son Servera                   1
Calvià                        1
Capdepera                     1
Santa Margalida               1
Santanyí                      1
Formentera                    1
Sóller                        1
Pollença                      1
Felanitx                      1
Sant Antoni de Portmany       1
Sant Josep de sa Talaia       1
Maó-Mahón                     1
Ciutadella de Menorca         1
Llucmajor                     1
Santa Eulària des Riu         1
Manacor                       1
Banyalbufar                   1
Name: Municipios, dtype: int64

In [9]:
# lista de los municipios y como deberian quedar

municipios_clean=[]

for i in df_rent_municipio.Municipios:
    if i.find("Alar") >=0:
        municipios_clean.append("Alaro")
    elif i.find("Alc") >=0:
        municipios_clean.append("Alcudia")
    elif i.find("Algai") >=0:
        municipios_clean.append("Algaida")
    elif i.find("Andra") >=0:
        municipios_clean.append("Andratx")
    elif i.find("Aria") >=0:
        municipios_clean.append("Ariany")
    elif i.find("Art") >=0:
        municipios_clean.append("Arta")
    elif i.find("Artà") >=0:
        municipios_clean.append("Arta")    

    elif i.find("Baña") >=0:
        municipios_clean.append("Banyalbufar")
    elif i.find("Banya") >=0:
        municipios_clean.append("Banyalbufar")
    elif i.find("Búger") >=0:
        municipios_clean.append("Buger")
    elif i.find("Buger") >=0:
        municipios_clean.append("Buger")
    elif i.find("Buñ") >=0:
        municipios_clean.append("Bunyola")
    elif i.find("Bun") >=0:
        municipios_clean.append("Bunyola")
    elif i.find("Calv") >=0:
        municipios_clean.append("Calvia")
    elif i.find("Campa") >=0:
        municipios_clean.append("Campanet")
    elif i.find("Campo") >=0:
        municipios_clean.append("Campos")
    elif i.find("Costi") >=0:
        municipios_clean.append("Costitx")
    elif i.find("Dey") >=0:
        municipios_clean.append("Deia")
    elif i.find("Espor") >=0:
        municipios_clean.append("Esporles")
    elif i.find("Estell") >=0:
        municipios_clean.append("Estellencs")
    elif i.find("es Cast") >=0:
        municipios_clean.append("Es Castell")


    elif i.find("Felani") >=0:
        municipios_clean.append("Felanitx")
    elif i.find("Fornal") >=0:
        municipios_clean.append("Fornalutx")
    elif i.find("Sa Pob") >=0:
        municipios_clean.append("Sa Pobla")
    elif i.find("Pobl") >=0:
        municipios_clean.append("Sa Pobla")
    elif i.find("Las Sal") >=0:
        municipios_clean.append("Ses Salines")
    elif i.find("Ses Sal") >=0:
        municipios_clean.append("Ses Salines")
    

    elif i.find("Salin") >=0:
        municipios_clean.append("Ses Salines")
    elif i.find("Llor") >=0:
        municipios_clean.append("Lloret de Vistalegre")
    elif i.find("Llos") >=0:
        municipios_clean.append("Lloseta")
    elif i.find("Llub") >=0:
        municipios_clean.append("Llubi")
    elif i.find("Lluc") >=0:
        municipios_clean.append("Llucmajor")
    elif i.find("Llub") >=0:
        municipios_clean.append("Llubi")
    elif i.find("Manc") >=0:
        municipios_clean.append("Mancor de la Vall")

    elif i.find("Maó") >=0:
        municipios_clean.append("Mao")
    elif i.find("Mah") >=0:
        municipios_clean.append("Mao")       



    elif i.find("Maria") >=0:
        municipios_clean.append("Maria de la Salut")
    elif i.find("María") >=0:
        municipios_clean.append("Maria de la Salut")
    elif i.find("Marra") >=0:
        municipios_clean.append("Marratxi")
    elif i.find("Montu") >=0:
        municipios_clean.append("Montuiri")
    elif i.find("Palma") >=0:
        municipios_clean.append("Palma de Mallorca")
    elif i.find("Poll") >=0:
        municipios_clean.append("Pollensa")
    elif i.find("Porr") >=0:
        municipios_clean.append("Porreres")
    elif i.find("Puig") >=0:
        municipios_clean.append("Puigpunyent")
    elif i.find("San Ju") >=0:
        municipios_clean.append("Sant Joan")
    elif i.find("Juan") >=0:
        municipios_clean.append("Sant Joan")
    elif i.find("San Llor") >=0:
        municipios_clean.append("Sant Lloren des Cardassar")
    elif i.find("Sanc") >=0:
        municipios_clean.append("Sencelles")
    elif i.find("Santa e") >=0:
        municipios_clean.append("Santa Eugenia")
    elif i.find("Santa Marg") >=0:
        municipios_clean.append("Santa Margalida")
    elif i.find("Santa Mar") >=0:
        municipios_clean.append("Santa Maria del Cami")
    elif i.find("Santañ") >=0:
        municipios_clean.append("Santanyi")
    elif i.find("Santan") >=0:
        municipios_clean.append("Santanyi")
    elif i.find("Síne") >=0:
        municipios_clean.append("Sineu")
    elif i.find("Sóll") >=0:
        municipios_clean.append("Soller")
    elif i.find("Síne") >=0:
        municipios_clean.append("Sineu")
    else:
        municipios_clean.append(i)

df_rent_municipio.Municipios = municipios_clean

In [10]:
df_rent_municipio.head()

,Municipios,Precio medio por m²\nApartamento,Precio medio por m²\nCasa,Precio medio por m²\nRenta,Población
0,Palma de Mallorca,3238 €,2930 €,141 €,409.652
1,Calvia,4531 €,5357 €,216 €,49.327
2,Manacor,1800 €,1927 €,109 €,42.634
3,Santa Eulària des Riu,5167 €,6825 €,230 €,41.783
4,Llucmajor,2700 €,2930 €,137 €,36.364

In [11]:
df_rent_municipio.Municipios.value_counts()

Palma de Mallorca          1
Andratx                    1
Puigpunyent                1
Sencelles                  1
Selva                      1
Es Mercadal                1
Ses Salines                1
Algaida                    1
Sant Joan de Labritja      1
Bunyola                    1
Sant Lluís                 1
Muro                       1
Es Castell                 1
Arta                       1
Lloret de Vistalegre       1
Campos                     1
Son Servera                1
Calvia                     1
Capdepera                  1
Santa Margalida            1
Santanyi                   1
Formentera                 1
Soller                     1
Pollensa                   1
Felanitx                   1
Sant Antoni de Portmany    1
Sant Josep de sa Talaia    1
Mao                        1
Ciutadella de Menorca      1
Llucmajor                  1
Santa Eulària des Riu      1
Manacor                    1
Banyalbufar                1
Name: Municipios, dtype: int64

In [16]:
#df_rent_municipio.to_csv(r'../w4-ETL-Project/docs/scraped_rent_municipios_final.csv',index=False)

# guardado en nuevo doc FINAL

----

AHORA POSTAL CODES

In [1]:
import pandas as pd

In [2]:
df_postalcodes = pd.read_csv('../w4-ETL-Project/docs/scraped_postalcodes.csv')
df_postalcodes.head()

   districts       province  postal_code
0     Alaior  Balears Illes         7730
1      Alaro  Balears Illes         7340
2    Alcudia  Balears Illes         7400
3    Algaida  Balears Illes         7210
4    Andratx  Balears Illes         7150

In [3]:
df_postalcodes.districts.value_counts()

  Alaior                  1
  Sant Joan               1
  Maria de la Salut       1
  Marratxi                1
  Mercadal Es             1
                         ..
  Inca                    1
  Lloret de Vistalegre    1
  Lloseta                 1
  Llubi                   1
  Vilafranca de Bonany    1
Name: districts, Length: 67, dtype: int64

In [4]:
df_postalcodes['districts'] = df_postalcodes['districts'].str.strip()

In [5]:
# lista de los municipios y como deberian quedar


municipios_clean=[]

for i in df_postalcodes.districts:
    if i.find("Alar") >=0:
        municipios_clean.append("Alaro")
    elif i.find("Alc") >=0:
        municipios_clean.append("Alcudia")
    elif i.find("Algai") >=0:
        municipios_clean.append("Algaida")
    elif i.find("Andra") >=0:
        municipios_clean.append("Andratx")
    elif i.find("Aria") >=0:
        municipios_clean.append("Ariany")
    elif i.find("Art") >=0:
        municipios_clean.append("Arta")
    elif i.find("Artà") >=0:
        municipios_clean.append("Arta")    

    elif i.find("Baña") >=0:
        municipios_clean.append("Banyalbufar")
    elif i.find("Banya") >=0:
        municipios_clean.append("Banyalbufar")
    elif i.find("Búger") >=0:
        municipios_clean.append("Buger")
    elif i.find("Buger") >=0:
        municipios_clean.append("Buger")
    elif i.find("Buñ") >=0:
        municipios_clean.append("Bunyola")
    elif i.find("Bun") >=0:
        municipios_clean.append("Bunyola")
    elif i.find("Calv") >=0:
        municipios_clean.append("Calvia")
    elif i.find("Campa") >=0:
        municipios_clean.append("Campanet")
    elif i.find("Campo") >=0:
        municipios_clean.append("Campos")
    elif i.find("Costi") >=0:
        municipios_clean.append("Costitx")
    elif i.find("Dey") >=0:
        municipios_clean.append("Deia")
    elif i.find("Espor") >=0:
        municipios_clean.append("Esporles")
    elif i.find("Estell") >=0:
        municipios_clean.append("Estellencs")
    elif i.find("es Cast") >=0:
        municipios_clean.append("Es Castell")


    elif i.find("Felani") >=0:
        municipios_clean.append("Felanitx")
    elif i.find("Fornal") >=0:
        municipios_clean.append("Fornalutx")
    elif i.find("Sa Pob") >=0:
        municipios_clean.append("Sa Pobla")
    elif i.find("Pobl") >=0:
        municipios_clean.append("Sa Pobla")
    elif i.find("Las Sal") >=0:
        municipios_clean.append("Ses Salines")
    elif i.find("Ses Sal") >=0:
        municipios_clean.append("Ses Salines")
    

    elif i.find("Salin") >=0:
        municipios_clean.append("Ses Salines")
    elif i.find("Lloret") >=0:
        municipios_clean.append("Lloret de Vistalegre")
    elif i.find("Llos") >=0:
        municipios_clean.append("Lloseta")
    elif i.find("Llub") >=0:
        municipios_clean.append("Llubi")
    elif i.find("Lluc") >=0:
        municipios_clean.append("Llucmajor")
    elif i.find("Llub") >=0:
        municipios_clean.append("Llubi")
    elif i.find("Manc") >=0:
        municipios_clean.append("Mancor de la Vall")

    elif i.find("Maó") >=0:
        municipios_clean.append("Mao")
    elif i.find("Mah") >=0:
        municipios_clean.append("Mao")    


    elif i.find("Marra") >=0:
        municipios_clean.append("Marratxi")
    elif i.find("Montu") >=0:
        municipios_clean.append("Montuiri")
    elif i.find("Palma") >=0:
        municipios_clean.append("Palma de Mallorca")
    elif i.find("Poll") >=0:
        municipios_clean.append("Pollensa")
    elif i.find("Porr") >=0:
        municipios_clean.append("Porreres")
    elif i.find("Puig") >=0:
        municipios_clean.append("Puigpunyent")
    elif i.find("San Ju") >=0:
        municipios_clean.append("Sant Joan")
    elif i.find("Juan") >=0:
        municipios_clean.append("Sant Joan")
    elif i.find("San Llor") >=0:
        municipios_clean.append("Sant Lloren des Cardassar")
    elif i.find("Sanc") >=0:
        municipios_clean.append("Sencelles")
    elif i.find("Santa e") >=0:
        municipios_clean.append("Santa Eugenia")
    elif i.find("Santa Marg") >=0:
        municipios_clean.append("Santa Margalida")
    elif i.find("Santa Mar") >=0:
        municipios_clean.append("Santa Maria del Cami")
    elif i.find("Santañ") >=0:
        municipios_clean.append("Santanyi")
    elif i.find("Santan") >=0:
        municipios_clean.append("Santanyi")
    elif i.find("Síne") >=0:
        municipios_clean.append("Sineu")
    elif i.find("Sóll") >=0:
        municipios_clean.append("Soller")
    elif i.find("Síne") >=0:
        municipios_clean.append("Sineu")
    else:
        municipios_clean.append(i)

df_postalcodes.districts = municipios_clean

In [6]:
df_postalcodes.districts.value_counts()

Alaior                  1
Sant Joan               1
Maria de la Salut       1
Marratxi                1
Mercadal Es             1
                       ..
Inca                    1
Lloret de Vistalegre    1
Lloseta                 1
Llubi                   1
Vilafranca de Bonany    1
Name: districts, Length: 67, dtype: int64

In [49]:
#save:

# df_postalcodes.to_csv(r'../w4-ETL-Project/docs/scraped_postalcodes.csv',index=False)

--------

AHORA ARBnB

In [1]:
import pandas as pd

In [2]:
df_arbnb = pd.read_csv('../w4-ETL-Project/docs/total_arbnb.csv')
df_arbnb.head()

,Unnamed: 0,id,listing_url,scrape_id,last_scraped,name,description,host_id,host_url,host_name,...,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,reviews_per_month,sq_meters,price_monthly,price_sqm_amonth,last_scraped_month
0,0,11547,https://www.airbnb.com/rooms/11547,20220314155457,2022-03-14,My home at the beach,"Sun, joy, relax, quality, beach & peace.<br />...",42942,https://www.airbnb.com/users/show/42942,Daniel,...,4.77,NaN,f,1,1,0.87,50,2730.0,54.60000,2022-03
1,1,69998,https://www.airbnb.com/rooms/69998,20220314155457,2022-03-15,COZY HIDEAWAY LOFT... MI AMOR...,Perfect place to escape for a few days of peac...,353156,https://www.airbnb.com/users/show/353156,Lor,...,4.77,NaN,f,2,2,1.60,50,2610.0,52.20000,2022-03
2,2,100831,https://www.airbnb.com/rooms/100831,20220314155457,2022-03-15,HOUSE IN MALLORCA - WiFi(ET-3045),<b>The space</b><br />House situated in a quie...,529151,https://www.airbnb.com/users/show/529151,Miguel,...,4.86,ETV-3045,f,1,1,0.16,120,4650.0,38.75000,2022-03
3,3,105891,https://www.airbnb.com/rooms/105891,20220314155457,2022-03-14,VILLAGE HOUSE WITH POOL: IDEAL FOR FAMILIES,The house is equipped with the furniture and e...,549192,https://www.airbnb.com/users/show/549192,Bartomeu,...,4.93,ETV/6127,f,1,1,0.13,85,3300.0,38.82353,2022-03
4,4,106833,https://www.airbnb.com/rooms/106833,20220314155457,2022-03-14,Villa with a big pool in Mallorca,<b>The space</b><br />This is a restored old b...,551974,https://www.airbnb.com/users/show/551974,Xisco,...,4.56,ET/1961,f,1,1,0.08,50,6000.0,120.00000,2022-03

In [3]:
df_arbnb.columns

Index(['Unnamed: 0', 'id', 'listing_url', 'scrape_id', 'last_scraped', 'name',
       'description', 'host_id', 'host_url', 'host_name', 'host_since',
       'host_location', 'host_acceptance_rate', 'host_is_superhost',
       'host_total_listings_count', 'host_verifications',
       'host_identity_verified', 'neighbourhood', 'neighbourhood_cleansed',
       'latitude', 'longitude', 'property_type', 'room_type', 'accommodates',
       'bathrooms_text', 'bedrooms', 'beds', 'price', 'minimum_nights',
       'maximum_nights', 'minimum_minimum_nights', 'maximum_minimum_nights',
       'minimum_maximum_nights', 'maximum_maximum_nights',
       'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes', 'reviews_per_month',
       'sq_meters', 'price_monthly', 'price_sqm_amonth', 'last_scraped_month'],
      dtype='object')

In [4]:
df_arbnb.value_counts('neighbourhood_cleansed')

neighbourhood_cleansed
Pollença                      10026
Palma de Mallorca              7242
Alcúdia                        7224
Santanyí                       3640
Manacor                        3209
Santa Margalida                3071
Felanitx                       2621
Llucmajor                      2326
Calvià                         2319
Capdepera                      2226
Campos                         2160
Sóller                         2008
Artà                           1609
Muro                           1565
Selva                          1267
Sant Llorenç des Cardassar     1219
Sa Pobla                       1195
Inca                           1121
Son Servera                    1082
Andratx                        1029
Ses Salines                     788
Campanet                        683
Búger                           653
Petra                           523
Sencelles                       486
Sineu                           463
Algaida                         453
Marratxí                        447
Llubí                           445
Binissalem                      417
Alaró                           394
Valldemossa                     392
Costitx                         374
Bunyola                         362
Ariany                          362
Fornalutx                       332
Deyá                            331
Maria de la Salut               324
Porreres                        299
Lloseta                         243
Santa María del Camí            230
Mancor de la Vall               207
Lloret de Vistalegre            207
Banyalbufar                     207
Sant Joan                       204
Esporles                        191
Puigpunyent                     177
Montuïri                        164
Vilafranc de Bonany             163
Escorca                         107
Santa Eugènia                    91
Consell                          81
Estellencs                       55
dtype: int64

In [5]:
# LLORO DE ALEGRIA, ANDA QUE NO ERA JODIDO 
# lista de los municipios y como deberian quedar

municipios_clean=[]

for i in df_arbnb.neighbourhood_cleansed:
    if i.find("Alar") >=0:
        municipios_clean.append("Alaro")
    elif i.find("Alc") >=0:
        municipios_clean.append("Alcudia")
    elif i.find("Algai") >=0:
        municipios_clean.append("Algaida")
    elif i.find("Andra") >=0:
        municipios_clean.append("Andratx")
    elif i.find("Aria") >=0:
        municipios_clean.append("Ariany")
    elif i.find("Art") >=0:
        municipios_clean.append("Arta")
    elif i.find("Artà") >=0:
        municipios_clean.append("Arta")    

    elif i.find("Baña") >=0:
        municipios_clean.append("Banyalbufar")
    elif i.find("Banya") >=0:
        municipios_clean.append("Banyalbufar")
    elif i.find("Búger") >=0:
        municipios_clean.append("Buger")
    elif i.find("Buger") >=0:
        municipios_clean.append("Buger")
    elif i.find("Buñ") >=0:
        municipios_clean.append("Bunyola")
    elif i.find("Bun") >=0:
        municipios_clean.append("Bunyola")
    elif i.find("Calv") >=0:
        municipios_clean.append("Calvia")
    elif i.find("Campa") >=0:
        municipios_clean.append("Campanet")
    elif i.find("Campo") >=0:
        municipios_clean.append("Campos")
    elif i.find("Costi") >=0:
        municipios_clean.append("Costitx")
    elif i.find("Dey") >=0:
        municipios_clean.append("Deia")
    elif i.find("Espor") >=0:
        municipios_clean.append("Esporles")
    elif i.find("Estell") >=0:
        municipios_clean.append("Estellencs")
    elif i.find("es Cast") >=0:
        municipios_clean.append("Es Castell")


    elif i.find("Felani") >=0:
        municipios_clean.append("Felanitx")
    elif i.find("Fornal") >=0:
        municipios_clean.append("Fornalutx")
    elif i.find("Sa Pob") >=0:
        municipios_clean.append("Sa Pobla")
    elif i.find("Pobl") >=0:
        municipios_clean.append("Sa Pobla")
    elif i.find("Las Sal") >=0:
        municipios_clean.append("Ses Salines")
    elif i.find("Ses Sal") >=0:
        municipios_clean.append("Ses Salines")
    

    elif i.find("Salin") >=0:
        municipios_clean.append("Ses Salines")
    elif i.find("Llor") >=0:
        municipios_clean.append("Lloret de Vistalegre")
    elif i.find("Llos") >=0:
        municipios_clean.append("Lloseta")
    elif i.find("Llub") >=0:
        municipios_clean.append("Llubi")
    elif i.find("Lluc") >=0:
        municipios_clean.append("Llucmajor")
    elif i.find("Llub") >=0:
        municipios_clean.append("Llubi")
    elif i.find("Manc") >=0:
        municipios_clean.append("Mancor de la Vall")

    elif i.find("Maó") >=0:
        municipios_clean.append("Mao")
    elif i.find("Mah") >=0:
        municipios_clean.append("Mao")       


    elif i.find("Marra") >=0:
        municipios_clean.append("Marratxi")
    elif i.find("Montu") >=0:
        municipios_clean.append("Montuiri")
    elif i.find("Palma") >=0:
        municipios_clean.append("Palma de Mallorca")
    elif i.find("Polle") >=0:
        municipios_clean.append("Pollensa")
    elif i.find("Porr") >=0:
        municipios_clean.append("Porreres")
    elif i.find("Puig") >=0:
        municipios_clean.append("Puigpunyent")
    elif i.find("San Ju") >=0:
        municipios_clean.append("Sant Joan")
    elif i.find("Juan") >=0:
        municipios_clean.append("Sant Joan")
    elif i.find("San Llor") >=0:
        municipios_clean.append("Sant Lloren des Cardassar")
    elif i.find("Sanc") >=0:
        municipios_clean.append("Sencelles")
    elif i.find("Santa e") >=0:
        municipios_clean.append("Santa Eugenia")
    elif i.find("Santa Marg") >=0:
        municipios_clean.append("Santa Margalida")
    elif i.find("Santa Mar") >=0:
        municipios_clean.append("Santa Maria del Cami")
    elif i.find("Santañ") >=0:
        municipios_clean.append("Santanyi")
    elif i.find("Santan") >=0:
        municipios_clean.append("Santanyi")
    elif i.find("Síne") >=0:
        municipios_clean.append("Sineu")
    elif i.find("Sóll") >=0:
        municipios_clean.append("Soller")
    elif i.find("Síne") >=0:
        municipios_clean.append("Sineu")
    else:
        municipios_clean.append(i)

df_arbnb.neighbourhood_cleansed = municipios_clean

In [6]:
df_arbnb.value_counts('neighbourhood_cleansed')

neighbourhood_cleansed
Pollensa                10026
Palma de Mallorca        7242
Alcudia                  7224
Santanyi                 3640
Manacor                  3209
Santa Margalida          3071
Felanitx                 2621
Llucmajor                2326
Calvia                   2319
Capdepera                2226
Campos                   2160
Soller                   2008
Arta                     1609
Muro                     1565
Lloret de Vistalegre     1426
Selva                    1267
Sa Pobla                 1195
Inca                     1121
Son Servera              1082
Andratx                  1029
Ses Salines               788
Campanet                  683
Buger                     653
Petra                     523
Sencelles                 486
Sineu                     463
Algaida                   453
Marratxi                  447
Llubi                     445
Binissalem                417
Alaro                     394
Valldemossa               392
Costitx                   374
Bunyola                   362
Ariany                    362
Fornalutx                 332
Deia                      331
Maria de la Salut         324
Porreres                  299
Lloseta                   243
Santa Maria del Cami      230
Mancor de la Vall         207
Banyalbufar               207
Sant Joan                 204
Esporles                  191
Puigpunyent               177
Montuiri                  164
Vilafranc de Bonany       163
Escorca                   107
Santa Eugènia              91
Consell                    81
Estellencs                 55
dtype: int64

In [108]:
df_arbnb[['price', 'neighbourhood_cleansed', 'price_monthly','sq_meters','price_sqm_amonth','last_scraped', 'last_scraped_month' ]]

,price,neighbourhood_cleansed,price_monthly,sq_meters,price_sqm_amonth,last_scraped,last_scraped_month
0,91.0,Calvià,2730.0,50,54.60000,2022-03-14,2022-03
1,87.0,Palma de Mallorca,2610.0,50,52.20000,2022-03-15,2022-03
2,155.0,Santa Margalida,4650.0,120,38.75000,2022-03-15,2022-03
3,110.0,Maria de la Salut,3300.0,85,38.82353,2022-03-14,2022-03
4,200.0,Sant Llorenç des Cardassar,6000.0,50,120.00000,2022-03-14,2022-03
...,...,...,...,...,...,...,...
69009,398.0,Manacor,11940.0,120,99.50000,2021-12-13,2021-12
69010,25.0,Palma de Mallorca,750.0,50,15.00000,2021-12-13,2021-12
69011,211.0,Pollença,6330.0,85,74.47059,2021-12-13,2021-12
69012,195.0,Palma de Mallorca,5850.0,50,117.00000,2021-12-13,2021-12
69013,85.0,Son Servera,2550.0,50,51.00000,2021-12-13,2021-12

In [111]:
df_arbnb.value_counts('neighbourhood_cleansed')

neighbourhood_cleansed
Pollença                      10026
Palma de Mallorca              7242
Alcúdia                        7224
Santanyí                       3640
Manacor                        3209
Santa Margalida                3071
Felanitx                       2621
Llucmajor                      2326
Calvià                         2319
Capdepera                      2226
Campos                         2160
Sóller                         2008
Artà                           1609
Muro                           1565
Selva                          1267
Sant Llorenç des Cardassar     1219
Sa Pobla                       1195
Inca                           1121
Son Servera                    1082
Andratx                        1029
Ses Salines                     788
Campanet                        683
Búger                           653
Petra                           523
Sencelles                       486
Sineu                           463
Algaida                         453
Marratxí                        447
Llubí                           445
Binissalem                      417
Alaró                           394
Valldemossa                     392
Costitx                         374
Bunyola                         362
Ariany                          362
Fornalutx                       332
Deyá                            331
Maria de la Salut               324
Porreres                        299
Lloseta                         243
Santa María del Camí            230
Mancor de la Vall               207
Lloret de Vistalegre            207
Banyalbufar                     207
Sant Joan                       204
Esporles                        191
Puigpunyent                     177
Montuïri                        164
Vilafranc de Bonany             163
Escorca                         107
Santa Eugènia                    91
Consell                          81
Estellencs                       55
dtype: int64